
<div class="container exampleContainer">
  <div class="row">
    <!-- <div class="col-md-3">
      <div *ngFor="let room of groups">
        <b *ngIf="room===currentGroup;else nextroom">{{room}}</b>
        <ng-template #nextroom>
            <a (click)="switchRoom(room)">{{room}}</a>
        </ng-template>
      </div>
      <input type="text" [(ngModel)]="message">
      <button (click)="sendMessage(message)">send</button>
    </div> -->
    <div class="col-md-3 d-none d-sm-block-down userList">
      <ul>
        <li style="color: tomato;list-style: none;margin-left: -22px;">Online Users</li>
        <li *ngFor="let user of users" style="color: white;list-style: none;margin-left: -22px;margin-top:10px;">
          <i class="fas fa-dot-circle" style="font-size: 10px;
          color: #f35422;"></i>&nbsp;&nbsp;{{user}}
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-12 bootstrapPadding">
      <div class="message-box" #scrollMe>
        <ul  class="list-tag ulStyle">
          <ng-container *ngIf="true else mine">
            <li class="liStyle" *ngFor="let message of messages">
              <div>
                <span style="color: tomato;">{{message.username}}</span>
              </div>
              <div>
                <span>{{message.msg}}</span>
              </div>
             </li>
          </ng-container>
          <ng-template #mine>
            <li class="mineStyle" *ngFor="let message of messages">
              <div>
                <span style="color: tomato;">{{message.username}}</span>
              </div>
              <div>
                <span>{{message.msg}}</span>
              </div>
            </li>
          </ng-template>
        </ul>
      </div>

      <div>
        <form class="chatForm" #chatForm="ngForm" action="" (submit)="sendMessage(message)" autocomplete="off" method="POST">
           <input type='text' class="searchBoxInput" name="msg" required [(ngModel)]="message">
           <button type="submit" class="buttonSend" [disabled]="!chatForm.form.valid"><i class="fas fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
