
<div class="container exampleContainer">
  <div class="row">
    <!-- <div class="col-md-3">
      <div *ngFor="let room of groups">
        <b *ngIf="room===currentGroup;else nextroom">{{room}}</b>
        <ng-template #nextroom>
            <a (click)="switchRoom(room)">{{room}}</a>
        </ng-template>
      </div>
      <input type="text" [(ngModel)]="message">
      <button (click)="sendMessage(message)">send</button>
    </div> -->
    <div class="col-md-3 userList">
      <ul>
        <li *ngFor="let user of users" style="color: white;list-style: none;margin-left: -22px;margin-top:10px;">
          {{user}}
        </li>
      </ul>
    </div>
    <div class="col-md-9 bootstrapPadding">
      <div class="message-box">
        <ul  class="list-tag ulStyle">
          <ng-container *ngIf="true else mine">
            <li class="liStyle" *ngFor="let msg of messages"> <span>{{msg}}</span></li>
          </ng-container>
          <ng-template #mine>
            <li class="mineStyle" *ngFor="let msg of messages"> <span>{{msg}}</span></li>
          </ng-template>
        </ul>
      </div>

      <div>
        <input type='text' class="searchBoxInput" [(ngModel)]="message">
        <button class="buttonSend" (click)="sendMessage(message)">=></button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
